@import "tailwindcss";

.nav{
  display: flex;
  
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
    background-color: rgb(10, 117, 146);
}
h1{
   position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 50px;
    white-space: nowrap;
    text-decoration: underline;
}



.nav2{
  display: flex;
  align-items: center;
  gap: 40px;
}