*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  color: #fff;
}
.parent{
  padding: 20px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
body{
  background-color: #111;
}
.Card button{
  padding: 10px 20px;
  border: none;
  background-color: #fff;
  color: #111;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.Card p{
  margin: 15px 0;
  font-size: 18px;
}
.Card button:hover{
  background-color: #ddd;
}
.Card{
  
  width: 300px;
  border: 2px solid #fff;
  padding: 20px;
  text-align: center; 
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);



}
.Card img{
  border-radius: 50%;
  height: 400px;
}